@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-app: #141414;
  --text-primary: #ffffff;
}

body {
  background-color: var(--bg-app);
  color: var(--text-primary);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}